<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.folder"/>
    <context:annotation-config>true</context:annotation-config>
    <bean id="independentRenderer" class="ru.folder.IndependentMessageRenderer"/>
<!--        <constructor-arg name="rendererInterface" ref="renderer"/>-->

    <bean id="renderer" class="ru.folder.MessageRendererError">
        <constructor-arg name="message" ref="message"/>
    </bean>
    <bean id="message" class="ru.folder.HelloMessage">
        <constructor-arg name="text" value="Mike"/>
    </bean>

</beans>